*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  
}

.fb-main-containar{
    display: flex;
    margin: 150px;
}

.left-side-sec h1{
    font-size: 60px;
    font-weight: 800;
    color:  #0f52f0;
    margin-top: 50px;
}
.left-side-sec p{
    font-weight: 600;
    color: black;
    font-size: medium;
}

.fb-login-containar{
    background-color: #f8f9fa;
    padding: 20px;
    margin-left: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.text-input{
    padding: 10px 25px;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
}
.login-btn{
    padding: 10px 25px;
    width: 250px;
    background-color: #0f52f0;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 5px;
    margin-left: 3px;
}

.login-forget-pass{
    margin-left: 50px;
    font-size: 15px;
    margin-top: 10px;
    
}
.login-forget-pass a{
    text-decoration: none;
   
}

.createNewAcc{
    padding: 10px 25px;
    margin-left: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(13, 187, 13);
    color: white;

}

.create-page{
    margin-left: -280px;
    margin-top: 250px;
    font-size: 12px;

}
.link-page{
    font-weight: 800;
    text-decoration: none;
    color: black;
}
